{% extends "pages/base.html" %}

{% block title %} {{post.title}} {% endblock  %}

{% block content %}
<h3><a href='{% url 'post' post.id %}'>{{post.title}}</a></h3>
<img src="{{post.image.url}}" width="500px" height="300px" />
<h6> on {{post.date}}</h6>
{{post.body|safe|linebreaks}}

{% for comment in post.comments.all %}
    <h4><strong>{{comment.author}}</strong></h4>
    <h6><p>{{comment.date}}</p></h6>
    {{comment.body|safe|linebreaks}}
{% endfor %}
{% if user.username %}
    <form action="{% url 'post' post.id %}" method="POST">
        {% csrf_token %}
        <label><p>Bình luận</p></label>
        {{form.body}}
        <input type="submit" value="Bình Luận"/>
    </form>
{% endif %}

{% endblock  %}